.AddNewCity .CityCard {
    height: 600px;
    width: 320px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
 
    opacity: 0.5;
}

.AddNewCity .CityCard button {
    height: 150px;
    width: 150px;
    font-size: 60px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(58, 56, 56);
}

.AddNewCity .CityCard button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.AddNewCity .fa-plus {
    color: rgb(30, 30, 30);
}