

.App {
 font-family:"Chalkduster", fantasy;
 
 position: relative;
 text-align: center;
 max-width: 100%;

 display:block;
padding: 30px 20px;
}




.App header img{
    height: 150px;
    display: block;
    padding-left: 20px;
  
    
}

.App header h1{
  font-family: "Papyrus", fantasy;
  margin: -120px 150px;
  padding-right: 750px;
  font-size: 80px;
  color: whitesmoke;
  text-shadow: 1px 1px #bdf18d, 
  2px 2px #0f0e0d, 
  3px 3px #b8eb67;
  display: block;
  padding-bottom: 100px;
}

.App .WeatherApp{
  color: #0f0e0d;
}


.footer {
  font-size: 10px;
  margin: 0 auto;
}