.App {
 font-family:"Chalkduster", fantasy;
 opacity: 100%;
}

.App header img{
    height: 150px;

}

.App header h1{
    font-family: "Papyrus", fantasy;
  margin: -130px 150px;
  font-size: 80px;
  color: whitesmoke;
  text-shadow: 1px 1px #bdf18d, 
  2px 2px #0f0e0d, 
  3px 3px #b8eb67;
}