.Weather, 
.Weather .WeatherCard,
.Weather .searchEngine{
    margin: 10 auto;
 
}


.Weather .searchEngine{
    max-width: 375px;
    
 
}

.Weather ul{
    margin: 0;
    padding: 0;
  }
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    list-style: none;
  }

.Weather form .col-9,
.Weather form .col-10,
.Weather form .col-3,
.Weather form .col-2,
.Weather .searchEngine .col-2{
    padding-right: 0;
    padding-left: 0;
}

.Weather form{
    text-align: center;
    margin-left: 15px;
}


